/* Pictures */
.cuts {
  width: 98%;
}

.cut {
  width: 300px;
  height: 300px;
  margin: 5px auto;
  position: relative;
}

.cut img {
  width: 100%;
  height: 100%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .cuts {
    width: 100%;
  }

  .cut {
    width: 275px;
    height: 275px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 5px;
  }

  .cut img {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .cut {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (min-width: 1170px) {
  .cuts {
    width: 98%;
    height: 105vh;
    margin: 0 8px;
    margin-left: 10px;
    display: inline-block;
  }

  .cut {
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 5px;
  }

  .cut img {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

