/* Description */
.genesis {
  display: none;
}

@media only screen and (min-width: 1170px) {
  .genesis {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .signature {
    font-family: 'Reckoner';
    font-size: 3rem;
    margin-top: 10px;
  }

  .letter .description {
    width: 95%;
    font-family: 'Varela Round';
    font-size: 1.8rem;
    margin: 0 auto;
  }
}

