*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Reckoner';
  src: url('fonts/Reckoner.ttf');
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}

.body.nav-is-visible {
  overflow: hidden;
}

body::after {
  clear: both;
  content: '';
  display: table;
}

a {
  text-decoration: none;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.main-content::before {
  display: none;
  content: 'mobile';
}

.main-content .content-wrapper {
  padding: 50px 3% 3em;
}

.title-card {
  line-height: 2.1;
  border-bottom: 1px solid #ecf0f1;
  font-family: 'Varela Round';
  margin-bottom: 12px;
}

.title-card .title {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  font-weight: 600;
  padding-right: 50px;
  font-size: 1.8rem;
}

@media only screen and (min-width: 768px) {
  .main-content::before {
    content: 'tablet'
  }

  .main-content .content-wrapper {
    margin-left: 115px;
    padding: 55px 5% 3em;
  }
}

@media only screen and (min-width: 1170px) {
  .main-content::before {
    content: 'desktop';
  }

  .main-content .content-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 4px 2% 3em;
  }

  .cuts {
    float: left;
    width: 30%;
    display: inline-block;
  }

  .locations {
    width: 25%;
    position: relative;
    margin-left: 20px;
    float: left;
  }
}

